@inherits UmbracoViewPage<BlockGridItem<Accordion>>

@{
    if (Model?.Content is null)
    {
        return;
    }

    var content = Model.Content;
}


<div class="accordion__container">
    @foreach (var item in content.Items!)
    {
        if (item.Content is AccordionItem accordionItem)
        {
          
        }
    }

    @for(int i = 0; i < content.Items.Count; i++)
    {
        if(content.Items[i].Content is AccordionItem accordionItem)
        {
            var drawerId = $"drawer-{i}";
            var buttonId = $"accordion-button-{i}";
            <div class="accordion__item">
                <h3 class="accordion__heading">
                    <button class="accordion__toggle" 
                            id="@buttonId" 
                            aria-expanded="false" 
                            aria-controls="@drawerId"
                            type="button">
                        <span class="accordion__icon" aria-hidden="true"></span>
                        <span class="accordion__title">@accordionItem.DrawerTitle</span>
                    </button>
                </h3>

                <div class="accordion__drawer" id="@drawerId" aria-labelledby="@buttonId">
                    <div class="accordion__content">
                        @accordionItem.DrawerContent
                    </div>
                </div>
            </div>
        }
    }
</div>