@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockListItem<ContentModels.BackdropCard>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var bgUrl = content.BackgroundImage?.MediaUrl();

    var theme = Umbraco.GetCurrentTheme();

    var defaultMetaBackgroundColor = "";
    var defaultMetaTextColor = "";
    var defaultCtaBackgroundColor = "";
    var defaultCtaTextColor = "";
    var defaultTextColor = "";


    switch (theme)
    {
        case "blue":
            defaultMetaBackgroundColor = "#004d66";
            defaultMetaTextColor = "#ffffff";
            defaultCtaBackgroundColor = "#ffc44d";
            defaultCtaTextColor = "#1b1b1b";
            defaultTextColor = "#ffffff";
            break;
        case "green":
            defaultMetaBackgroundColor = "#BABF33";
            defaultMetaTextColor = "#1b1b1b";
            defaultCtaBackgroundColor = "#ffc44d";
            defaultCtaTextColor = "#1b1b1b";
            defaultTextColor = "#ffffff";
            break;
        case "red":
            defaultMetaBackgroundColor = "#B3314E";
            defaultMetaTextColor = "#ffffff";
            defaultCtaBackgroundColor = "#ffc44d";
            defaultCtaTextColor = "#1b1b1b";
            defaultTextColor = "#ffffff";
            break;
    }

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();

    var textColor = content?.TextColor?.Color ?? defaultTextColor;

    var styles = $@"
        --backdrop-card__meta-background-color: {defaultMetaBackgroundColor};
        --backdrop-card__meta-text-color: {defaultMetaTextColor};
        --backdrop-card__cta-background-color: {defaultCtaBackgroundColor};
        --backdrop-card__cta-text-color: {defaultCtaTextColor};
        --backdropc-card__text-color: {textColor};
    ";
}


<div class="backdrop-card__container @blockClasses" aria-label="@content.Heading" style="@styles">
    @if (!string.IsNullOrWhiteSpace(bgUrl))
    {
        <img class="backdrop-card__img" src="@bgUrl" alt="@content.Heading" />
    }
    <div class="backdrop-card__overlay">
        <div class="backdrop-card__body-container">
        @if (!string.IsNullOrWhiteSpace(content.Date))
        {
            <div class="backdrop-card__meta">@content.Date</div>
        }

        @if (!string.IsNullOrWhiteSpace(content.Heading))
        {
            <h2 class="backdrop-card__heading">@content.Heading</h2>
        }

        @if (!string.IsNullOrWhiteSpace(content.Text))
        {
            <div class="backdrop-card__text">@Html.Raw(content.Text)</div>
        }

        @if (content.DisplayCtaButton)
        {
            <a class="backdrop-card__cta" href="@content?.CtaLink?.Url" target="@content?.CtaLink?.Target" rel="noopener noreferrer">
                @content.CtaText
                <span class="backdrop-card__cta-icon"><img src="~/icons/arrow_forward.svg" alt=""/></span>
            </a>
        }
        </div>
    </div>
</div>
