@using NEOCIO.Umbraco.Core.Extensions
@using NEOCIO.Umbraco.Core.Extensions.Breadcrumbs
@inherits UmbracoViewPage<BlockGridItem>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var currentPage = Umbraco.AssignedContentItem;

    var root = currentPage.Root();

    var breadcrumbs = currentPage
        .AncestorsOrSelf()
        .Where(x => x.Level >= root.Level)
        .Reverse()
        .Select(x => new BreadcrumbItem(
            x.Name,
            x.Url(),
            x.Id == currentPage.Id
        ));

    var layoutSettings = Model.Settings as LayoutSettings;
    var layoutStyles = layoutSettings.GenerateLayoutStyles();
    var layoutClasses = layoutSettings.GenerateLayoutClasses();

}

<nav class="breadcrumb @layoutClasses" aria-label="Breadcrumbs" style="@layoutStyles">
    @* Use schema.org BreadcrumbList microdata and explicit list roles for assistive tech *@
    <ol class="breadcrumb__list" role="list" itemscope itemtype="https://schema.org/BreadcrumbList">
        @{
            var position = 1;
        }
        @foreach (var item in breadcrumbs)
        {
            if (item.IsCurrent)
            {
                <li class="breadcrumb__item breadcrumb__item--current" role="listitem" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">@item.Name</span>
                    <meta itemprop="position" content="@position" />
                </li>
            }
            else
            {
                <li class="breadcrumb__item" role="listitem" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumb__link" href="@item.Url" itemprop="item">
                        <span itemprop="name">@item.Name</span>
                    </a>
                    <meta itemprop="position" content="@position" />
                </li>
            }
            position++;
        }
    </ol>
</nav>
