@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockListItem<ContentModels.CarouselItem>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

<div class="carousel-item @blockClasses">
    @if (content.Image != null)
    {
        <div class="carousel-item__image">
            <img src="@content.Image.GetCropUrl()" alt="@(content.Heading?.Name ?? "")" />
        </div>
    }
    @if (!content.ImageOnly && content.Heading != null)
    {
        <div class="carousel-item__content">
            <h3 class="carousel-item__heading">
                <a href="@content.Heading.Url" target="@content.Heading.Target">
                    @if (content.Icon is not null)
                    {
                        if (content.IconLocation == "Prepend")
                        {
                            <inline-svg media-item="content?.Icon" fill="#fff" width="18" height="18"/>
                            @content?.Heading.Name
                        }
                        else
                        {
                           @content?.Heading.Name
                           <inline-svg media-item="content?.Icon" fill="#fff" width="18" height="18"/>
                        }
                    }
                    else
                    {
                        @content.Heading.Name
                    }
                </a>
            </h3>
        </div>
    }
</div>