@inherits UmbracoViewPage<BlockGridItem<ContentModels.SideNavigation>>

@using System.Linq

@{
	if (Model?.Content is null) return;
	var content = Model.Content;
	var navItems = content?.SideMenu?.ToList() ?? [];
}

@{
	Func<IEnumerable<dynamic?>, IHtmlContent> RenderNavItems = null!;
	RenderNavItems = @<text>
		@foreach (var navItem in item)
		{
			if (navItem is null)
			{
				continue;
			}

			var currentPath = Context.Request.Path.ToString().ToLowerInvariant();
			var navUrl = (navItem?.Url as string)?.ToLowerInvariant() ?? string.Empty;
			var isCurrent = !string.IsNullOrEmpty(navUrl) && currentPath.Contains(navUrl.TrimEnd('/'));

			if (navItem?.Children?.Count > 0)
			{
				<li class="sideNavigation__item">
					<a href="@navItem.Url" target="@navItem.Target" class="@(isCurrent ? "current" : null)">
						@navItem.Name
					</a>
					<ul class="sideNavigation__sublist" style="@(isCurrent ? "display:block;" : "display:none;")">
						@RenderNavItems((IEnumerable<dynamic?>)navItem.Children)
					</ul>
				</li>
			}
			else
			{
				var isChildCurrent = !string.IsNullOrEmpty(navUrl) && currentPath.Equals(navUrl);
				<li class="sideNavigation__item">
					<a href="@navItem?.Url" target="@navItem?.Target" style="@(isChildCurrent ? "font-weight:bold;" : null)">
						@navItem?.Name
						@if (navItem?.Target == "_blank")
						{
							<span>
								<svg-icon src="icons/open-in-new.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="white"></svg-icon>
							</span>
						}
					</a>
				</li>
			}
		}
	</text>;
}

@if(navItems.Any())
{
    <div class="side-navigation-container">
    <nav>
        <ul class='sideNavigation-sidenav'>
            @RenderNavItems(navItems)
        </ul>
    </nav>
    </div>
}

