@* @using CIO_Umbraco.Utilities
@using Umbraco.Community.UmbNav.Core.Models
@inject ISiteSettingsAccessor siteSettingsAccessor

@{
    var systemSettings = siteSettingsAccessor.Get();
    var navItems = systemSettings.NavigationMenu;
}


<nav id="mobile-menu" class="mobile-menu" aria-hidden="true">
    <div class="mobile-menu-close" id="mobile-menu-close-button">
        <button aria-label="Close menu">×</button>
    </div>

    @if (navItems.Any())
    {
        <ul class="mobile-menu-list">
            @foreach (var item in navItems)
            {
                if (item.Children.Any())
                {
                    <li class="wrapper-item">
                        <details>

                            <summary class="mobile-summary">
                                <span class="summary-text">@item.Name</span>
                                <span class="summary-icon plus-icon">
                                    <svg-icon src="icons/plus.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="#565c65"></svg-icon>
                                   
                                </span>
                                <span class="summary-icon minus-icon">
                                    <svg-icon src="icons/minus.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="#565c65"></svg-icon>
                                </span>
                            </summary>

                            <ul>
                                @foreach (var child in item.Children)
                                {
                                    <li class="mobile-menu-list-item">

                                        <a href="@child.Url" target="@child.Target">
                                            @child.Name

                                        </a>
                                        @if (child.Target == "_blank")
                                        {
                                            <p>
                                                <svg-icon src="icons/open-in-new.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="#565c65"></svg-icon>
                                            </p>
                                        }
                                    </li>
                                }
                            </ul>
                        </details>
                    </li>
                }
                else
                {
                    <li class="mobile-menu-list-item">

                        <a href="@item.Url" target="@item.Target">
                            @item.Name

                        </a>
                        @if (item.Target == "_blank")
                        {
                            <p>
                                <svg-icon src="icons/open-in-new.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="#565c65"></svg-icon>
                            </p>
                        }
                    </li>
                }
            }


        </ul>
    }
</nav> *@