﻿@using Umbraco.Cms.Core.Models.Blocks
@using CIOUmbracoDemo.Utilities
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<BlockGridItem>>
@{
    if (Model?.Any() != true)
    {
        return;
    }
   
    // Declare the layout variable outside the loop
    var layout = Model.Any(item => item.Content.ContentType.Alias.StartsWith("layout", StringComparison.InvariantCultureIgnoreCase));
    
    var applyDefaultPadding = (ViewData["ApplyDefaultPadding"] as bool?) ?? false;

    var padding = applyDefaultPadding == true ? "p-3" : string.Empty;
   
}

<div class="@(layout ? "layout-" : "feature-")items d-flex flex-column @(layout ? "gap-0" : "gap-3") @padding">
    @foreach (var item in Model)
    {
        var alias = item.Content.ContentType.Alias;
        var component = alias.Capitalize();
        var partialViewName = "blockgrid/Components/" + alias;

        bool rendered = false;
        try
        {
            // Try to render as View Component
            @await Component.InvokeAsync(component, new { model = item })
            rendered = true;
        }
        catch
        {
           
        }

        if (!rendered)
        {
            try
            {
                @await Html.PartialAsync(partialViewName, item)
            }
            catch (InvalidOperationException)
            {
                <p>
                    <strong>Could not render component of type: @alias</strong>
                    <br/>
                    This likely happened because neither the View Component <em>@component</em> nor the partial view <em>@partialViewName</em> could be found.
                </p>
            }
        }
    }
</div>